/*******Registration page****/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.registration-page .wrapper{
  overflow: hidden;
  max-width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-top: 20px;
}
.registration-page  .wrapper .title-text{
  display: flex;
  width: 200%;
}
.registration-page .wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.registration-page  .wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.registration-page  .slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.registration-page .slide-controls label.signup{
  color: #000;
}
.registration-page .slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.registration-page  input[type="radio"]{
  display: none;
}
.registration-page  #signup:checked ~ .slider-tab{
  left: 50%;
}
.registration-page  #signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
.registration-page #signup:checked ~ label.login{
  color: #000;
}
.registration-page #login:checked ~ label.signup{
  color: #000;
}
.registration-page #login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.registration-page .wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.registration-page .form-container .form-inner{
  display: flex;
  width: 200%;
}
.registration-page .form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.registration-page .form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.registration-page .form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.registration-page .form-inner form .field input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.registration-page .form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
.registration-page form .field input:focus::placeholder{
  color: #b3b3b3;
}
.registration-page .form-inner form .pass-link{
  margin-top: 5px;
}
.registration-page .form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.registration-page .form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #fa4299;
  text-decoration: none;
}
.registration-page .form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
.registration-page form .btn{
  color:white;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.registration-page form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
.registration-page form .btn:hover .btn-layer{
  left: 0;
}
.registration-page form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.submit-btn{  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;}
/**************************/

.spinner-border {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}


/*********Header*****************/

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 5px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.topbarLinks a {
  text-decoration: none;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  /* background-color: dodgerblue; */
  color: dodgerblue;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/*****************/



/************Footer***********/

.footer-sec .row {
  padding: 1em 1em;
}
.footer-sec .row.primary {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  align-items: stretch;
}
.footer-sec .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
.footer-sec h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
.footer-sec ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.footer-sec li:not(:first-child) {
  margin-top: 0.8em;
}
.footer-sec ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.footer-sec ul li a:hover {
  color: #c7940a;
}
.footer-sec .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
 .footer-sec input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.footer-sec button {
  background-color: #c7940a;
  color: #ffffff;
}

button.Toastify__close-button.Toastify__close-button--dark {
  width: 25px !important;
}
.footer-sec div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.footer-sec .social i {
  color: #bac6d9;
}



/*****************/



/*******new header***********/






form.login {}
.topbarContainer {
    height: 75px;
    width: 100%;
    background-color: #ab447a;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;

}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.searchbar{
    width: 70%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.serachIcon{
    font-size: 20px !important;
    margin-left: 10px;

}
.searchInput{
    border: none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}
.topbarLeft{
    flex: 3;
}
.topbarRight{
    float: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-right: 25px;
}
.topbarLinks{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.topbarIcons{
    display: flex;
}
.topbarCenter{
    flex: 5;
}
.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}
.topbarViewProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}
.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color: white;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.nav-link  {
    display: block;
    padding: 0.5rem 4rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
element.style {
    position: absolute;
    inset: 2px auto auto -1px;
    margin: 0px;
    transform: translate(-101px, 42px);
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
}
/* .modal-content{padding:500px 0} */
#viewModal .modal-content{padding:0;text-align:center}
#notificationModal .modal-content{padding:0;text-align:center}
#notificationModal .modal-content .modal_btns button .modal-dialog{margin:0; }
#logoutModal .modal-content{padding:0;text-align:center}
#logoutModal .modal-content .modal_btns button{margin:0 5px}


/********************/

.profile-pop{
  left: -20px !important;
}


  @media (min-width: 991.98px) {
  main {
  padding-left: 240px;
  }
  }
  
  /* Sidebar */
  .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  }
  
  @media (max-width: 991.98px) {
  .sidebar {
  width: 100%;
  }
  }
  .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  nav#sidebarMenu .active {
    background: #af4378 !important;
    border: solid;
}

.main-heading {
  font-size: 30px;
  margin: 0px 0 10px 0;
  text-align: center;
  font-weight: 500;
}

.topbarRight .navbar-nav{margin-left: 5px;}

/*********profile-img**************/


.object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 165px;
  height: 165px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  height: 165px;
  width: 165px;
}

.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: rgb(250, 250, 250);
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}

.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}



/**********Posts******************/

/* .all-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inner-post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.top-content {
  display: flex;
  align-items: center;
}

.profile-pic img {
  border-radius: 50%;
  margin-right: 12px;
}

.right-content {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.added-date {
  color: #555;
  font-size: 14px;
}

.post-content {
  margin-top: 40px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-desc {
  font-size: 16px;
  color: #6a5e5e;
}

.post-img img {
  margin-top: 12px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-feedbacks {
  margin-top: 16px;
} */


/*************/
.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}




.all-posts .post-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-posts .user-profile {
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.all-posts .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.all-posts .user-name {
  font-weight: bold;
}

.all-posts .post-content {
  padding: 16px;
}

.all-posts .post-content p {
  margin-bottom: 12px;
}

.all-posts .post-content img {
  width: 100%;
  border-radius: 8px;
}

.all-posts .post-actions {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  border-top: 1px solid #ddd;
  position: relative;
  padding: 20px;

}

.go2484888251, .go4268192979 {
  width: 100px;
  height: 80px;
  bottom: 0px;
  position: absolute;
  left: 70px;
}

.all-posts .post-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  padding: 0;
  margin: 0;
}

.all-posts .like-button {
  color: #1877f2; /* Facebook blue */
}

.all-posts .comment-button {
  color: #555;
}

.all-posts .share-button {
  color: #555;
}
.all-posts .user-name-2{
  margin-left: 5px;
  font-size: 15px;
}

/********Upload a post*******/

.upload-post .post-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-post .user-profile {
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.upload-post .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.upload-post .user-name {
  font-weight: bold;
}

.upload-post .new-post-form {
  padding: 16px;
}

.upload-post textarea {
  width: 100%;
  border: none;
  box-sizing: border-box;
  resize: none;
  font-size: 16px;
  margin-bottom: 12px;
}

.upload-post .image-upload-label {
  background-color: #1877f2; /* Facebook blue */
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.upload-post input[type="file"] {
  display: none;
}

.post-button {
  background-color: #1877f2; /* Facebook blue */
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.cancel-button {
  background-color: #464749; /* Facebook blue */
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.upload-modal .post-container {
  margin: 0 0 0 0 !important;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1) !important;
}
/**************/

.fa-regular, .far, .fa-solid {
  color: #af4378;
}

.post-content img{cursor: pointer;}



/*******like and comments extreme left and right ******/
.post-counts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:-5px 20px 5px 20px;
}

.no-likes, .no-comments {
  display: flex;
  align-items: center;
}

.no-comments {
  margin-left: auto; /* Push it to the right */
}
.no-likes .fa-solid{margin-right:4px;}

/***********/


/*********Comments *************/



.comments-container {
  /* width: 400px; */
  margin: 20px auto;
  margin-left:10px;
  margin-right:10px;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  background: #f0f2f5;
}

.comment-user {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
}

.user-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
}


.comment-box {
  display: flex;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 20px;
}
.right-nav{
  background: white;
  border-radius: 10px;
  padding: 10px;
}


.comment-input {
  flex: 1;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
}

.comment-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  background: white;
}
.comment-button i.fa-solid.fa-paper-plane {
  font-size: 22px;
}

.dual-action {
  display: flex;
  width: 90%;
}
/*************/

button.cancel-button {
  margin-right: 10px;
}

.dual-btns {
  display: flex;
  padding: 10px;
}

i.fa-solid.fa-trash {
  cursor: pointer;
}

/**********Message chat************/

.chat-container {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  padding: 10px;
  margin-left: 20px;
}

.messages {
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
  min-height: 400px;
}

.message {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}

.message.user-message {
  background-color: #dcf8c6;
}

.message input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
}

.messages .user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 10px;
  /* background: #d5d4d4; */
  border-radius: 10px
}

.messages .user-profile 
{
position: relative;  
padding: 16px;
display: flex;
align-items: center;
border-bottom: 1px solid #ddd;
cursor:pointer;
}


/*********************************/

.active i.fa-solid{
  color: white;
}

.chat-dual-sections{
  display: flex;
  justify-content: center;
}


.is-online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 5px;
  right: 5px;
}

.messages .user-profile.active {
  background: #b7b7b7;
  border-radius: 10px;
}


/**********No message image*******/


.no-msg-img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Adjust the height as needed */
  width: 465px; /* Adjust the width as needed */
  background-color: #f0f0f0; /* Background color for the container */
  border-radius: 10px; /* Make it a circle */
  overflow: hidden; /* Hide overflowing content */
}

.no-msg {
  width: 350px; /* Adjust the width of the image */
  height: 350px; /* Adjust the height of the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Optional: Add some hover effects */
.no-msg-img-icon:hover {
  background-color: #e0e0e0; /* Lighter background on hover */
  cursor: pointer;
}

.messages .user-profile:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

/****************************/